.wrapper-1_HaEi, .base-2jDfDU, .sidebar-1tnWFu, .chat-2ZfjoI, .content-1jQy2l, .container-2o3qEW{
    background-color: transparent !important;
    background: transparent !important;
}

.appMount-2yBXZl {
    background-color: var(--background-primary);
}

.app-2CXKsg {
    background-color: transparent;
}

// Remove the laggy animation upon opening any new layer
.layers-OrUESM {
    background-color: var(--background-primary);
    -webkit-app-region: no-drag;
    .layer-86YKbF {
        transform: none !important;
        will-change: unset;

        &.animating-1rIrGV {
            pointer-events: auto !important;
            will-change: unset;
        }
    }
}

.resizeHandle-PBRzPC {
    background-color: var(--background-secondary);
    border-radius: var(--radius-secondary);
}


.iconLive-nQxzyp{
    color: var(--green-primary) !important;
}

// Removed Stuff

// Nitro Button in server list 
.scroller-3X7KbA>[aria-label]+.listItem-3SmSlK,
.tutorialContainer-1pL9QS+.listItem-3SmSlK>.pill-1NRFie~*,
.tree-3agP2X+.fixedBottomList-1yrBla {
    display: none;
}

// Nitro & Boost 
[aria-label*="Send a gift"]
 {
    display: none !important;
}

// Stickers Button 
.expression-picker-chat-input-button:nth-of-type(2) {
    display: none;
}

// Gif button 
.expression-picker-chat-input-button:nth-of-type(1) {
    display: none;
}

// Explore 
.tutorialContainer-2jwoiB+div {
    display: none;
}

// Slash command button in attachment popout 
#channel-attach-SLASH_COMMAND {
    display: none !important;
}

// Thread button in attachment popout 
#channel-attach-THREAD {
    display: none !important;
}